include LICENSE
include README.md
include setup.py
include setup.cfg
include twined-server/weirdly_you_have_to_specify_non_python_files_that_you_want_to_bundle_despite_recursive_include.json
include twined-server/module_data/file_required_by_module.json
recursive-include twined-server *
